VITE_BACKEND_URL=

# Possible values: dev, alpha
VITE_STAND=dev

# Take the key from Apollo studio in a personal account
APOLLO_KEY=

VITE_THIRD_WEB_API_KEY=abc123

CHAIN_ID=1337

VITE_WSS_PROVIDER=wss://arbitrum-sepolia-rpc.publicnode.com
VITE_HTTP_PROVIDER=https://sepolia-rollup.arbitrum.io/rpc

VITE_SENTRY_AUTH_TOKEN=abc123