@import '/src/shared/styles/breakpoints';

.gameIframe.gameIframe {
  width: 100%;
  aspect-ratio: 2 / 1;
  border-radius: 1rem;
  border: none;

  @media screen and (width < $sm) {
    aspect-ratio: unset;
    height: 80vh;
    width: 100%;
    z-index: 10;
  }
}

.separator.separator {
  width: 1px;
  background-color: var(--c-gray-70);

  @media screen and (width < $sm) {
    display: none;
  }
}

.descriptionGame.descriptionGame {
  flex: 1;

  @media screen and (width < $sm) {
    order: 1;
  }
}

.descriptionGameText.descriptionGameText {
  @media screen and (width < $sm) {
    order: 2;
  }
}

.descriptionItemText.descriptionItemText {
  text-wrap: nowrap;
  width: 20rem;
}

.gameToolButton.gameToolButton.gameToolButton {
  margin: 0;
  border-radius: 1.5rem;
  background-color: var(--c-gray-80);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  & > svg {
    transition: all 0.2s ease-in-out;
  }

  &:hover > svg {
    transform: scale(1.2);
  }
}

.gameIframeFallback.gameIframeFallback {
  height: 100%;
  align-items: start;
  justify-content: start;
  border-radius: 5rem;
  background-image: url('/src/shared/images/game-fallback-background.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  text-decoration: none;
  padding: 7rem;
  transition: all 0.3s ease-in-out;

  @media screen and (width >= $sm) {
    &:hover {
      background-size: 101%;
      filter: brightness(1.03);
    }
  }

  @media screen and (width < $sm) {
    background-size: cover;
    background-position: center center;
  }
}

.gameFallbackTitle.gameFallbackTitle {
  color: #9AEBFF;
  font-size: 7rem;

  @media screen and (width < $sm) {
    font-size: 5rem;
  }
}

.gameFallbackDescription.gameFallbackDescription {
  max-width: 54rem;
  margin-bottom: 5rem;
  font-size: 7rem;

  @media screen and (width < $sm) {
    font-size: 5rem;
  }
}

.gameFallbackButton.gameFallbackButton {
  font-weight: 600;
}
