@import '/src/shared/styles/breakpoints';

.contactUsWrapper {
  :global(.rt-CardInner) {
    color: var(--black);
    background-color: var(--yellow);
    border-radius: calc(var(--b-radius) * 2);
    padding: 3.5rem 5rem;
  }
}

.contactUsDialog.contactUsDialog.contactUsDialog.contactUsDialog {
  border: 0.5rem solid var(--yellow);

  @media screen and (width < $sm) {
    border-radius: 5rem 5rem 0 0;
    border: unset;
    min-height: 35rem;
    height: 35rem;
  }
}

.contactUsButton.contactUsButton.contactUsButton {
  color: var(--white);
  background-color: var(--black);
  box-sizing: content-box;
  padding: 2rem 3rem;
}

.contactUsLinkList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: max-content;
  margin: 1rem;
  text-align: start;
}
