.dialogContainer.dialogContainer.dialogContainer {
  width: 50rem;
  border: 0.5rem solid var(--yellow-10);
  border-radius: 5.5rem;
  padding: 5rem 4rem;
}

.checkConnectionText {
    color: var(--gray-9);
}

.reloadBtn.reloadBtn.reloadBtn {
  width: 100%;
  height: 7.5rem;
  font-weight: var(--font-weight-bold);
  background-color: var(--yellow);
  cursor: pointer;
}
