.balanceTransactions.balanceTransactions.balanceTransactions {
    border-radius: 5rem;
}

.actionButton.actionButton.actionButton {
    height: 4.5rem;
    width: 20rem;
    padding: 2rem 1rem;
    font-weight: var(--font-weight-bold);
    background-color: var(--yellow);
    cursor: pointer;
}